<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative on-{{ .Type | urlize }}">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/rbt_logo.png" alt="RBT logo" class="br0 db mb0 w-100"/>
	</a>
	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li class="products">
			<a href="/products" class="menu pa3 no-underline db">Products</a>
		</li>
		<li class="values">
			<a href="/values" class="menu pa3 no-underline db">Values</a>
		</li>
		<li class="team">
			<a href="/team" class="menu pa3 no-underline db">Team</a>
		</li>
		<li class="post">
			<a href="/post" class="menu pa3 no-underline db">Blog</a>
		</li>
		<li class="contact">
			<a href="/contact" class="menu pa3 no-underline db">Contact</a>
		</li>
	</ul>

</nav>
